.SearchResultTable {
    min-width: 350px;
    width: 60%;
    margin: auto;
}

.SearchResultTable_table {
    color: #000000;
    padding: 15px;
    justify-content: left;
}

.search_result_table_row {
    border: none;
}

.search_result_table_header {
    border: none;
    background-color: #000000;
    padding-right: 0;
    
}

.search_result_table_header span{
    color: #000000;
}

.search_result_table_row div{
    text-align: left;
    justify-content: center;
    font-size: "24px";
}

.search_result_table_header div{
    text-align: left;
    justify-content: center;

}

.add_button {
    cursor: pointer;
    border-radius: 25px;
    background-color: transparent;
    display: inline-flex;
    align-items: center;
    color: #000000;
    border: 1px solid #ffffff;
    transition: 0.2s background-color;
  }
  
.add_button:hover {
    background-color: #000000;
    border: 1px solid #000000;
    color: #ffffff;
}
